body {
  width: 100%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.main-container {
}

.home-section {
  background: url(../images/Background.jpg);
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  position: fixed !important;
  z-index: 9999;
}

.custom-nav {
  background-color: black !important;
}

.nav-link {
  margin-left: 30px;
}

.nav-link:hover {
  color: #f2c64d !important;
}

.navbar-nav {
  margin-right: 5em;
}

.navbar-nav .active {
  color: #f2c64d !important;
}

.designation {
  color: #f2c64d;
  font-size: 2em;
  font-weight: bold;
  margin-left: 2em;
  top: 44%;
  left: 0%;
  position: absolute;
}

.mainpage-message {
  color: white;
  top: 50%;
  font-size: 1.5em;
  margin-left: 2.7em;
  font-weight: 700;
}

.text-slider-items {
  display: none;
}

.section {
  background: url(../images/Background-image.jpg);
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
}

.set-width {
  width: 80%;
}

.about-description {
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  padding: 2rem;
  border-radius: 12px;
  background-color: #26292a;
  width: 80%;
  margin: 0 auto;
  color: white;
}

.project-jumbotron {
  margin: 0 auto;
}
.project-image {
  width: 200px;
  height: 200px;
}
.project-card {
  width: 80%;
  margin: 30px auto;
}
.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
  float: right;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.skillsgrid li {
  background-color: white;
  padding: 10px;
  list-style: none;
  margin: 15px;
  border-radius: 15px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  border: 1px solid #eee;
  transition: all 0.3s ease-in;
  display: inline-block;
}

.skillsgrid li p {
  margin-top: 0px;
  font-size: 13px ;
  text-align: center;
}

.skillcontainer img{
  width: 40px;
}
.skillcontainer p{
  font-size: 12px;
}

.skill-section{
  padding: 50px;
}

.sectionhead hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 5%;
  float: left;
  border-top: 1px solid black;
  margin-right: 10px;
}
.sectionhead span {
  font-size: 12px;
}